In [1]:
# Import dependencies
import pandas as pd



END_COLUMNS = [date, lat, long, parameter name, concentration metric, concentration value, state, county, city]
POLLUTANTS = ['1,3-Butadiene', 'Benzene', 'Formaldehyde', 'Lead PM2.5 LC', 'O3'....]
YEARS = [2020, 2021]
STATES = ['California', 'Minnesota', 'New York', 'Texas']

1) read HAP_2020, HAP_2021, O3_2020, O3_2021...

df = pd.read_csv("https://aqs.epa.gov/aqsweb/airdata/daily_44201_2022.zip", compression="zip")

In [2]:
# data information, define constants and functions

columns_2022 = ['State Code', 'County Code', 'Site Num', 'Parameter Code', 'POC',
       'Latitude', 'Longitude', 'Datum', 'Parameter Name', 'Sample Duration',
       'Pollutant Standard', 'Date Local', 'Units of Measure', 'Event Type',
       'Observation Count', 'Observation Percent', 'Arithmetic Mean',
       '1st Max Value', '1st Max Hour', 'AQI', 'Method Code', 'Method Name',
       'Local Site Name', 'Address', 'State Name', 'County Name', 'City Name',
       'CBSA Name', 'Date of Last Change']

DROP_COLUMNS = ['State Code', 'County Code', 'Site Num', 'Datum', 'Sample Duration', 
       'Pollutant Standard',  'Event Type','Observation Count', 'Observation Percent', 
        '1st Max Hour', 'Method Code', 'Method Name','Local Site Name', 'Address', 
       'CBSA Name', 'Date of Last Change']

# see https://aqs.epa.gov/aqsweb/airdata/FileFormats.html#_daily_summary_files
KEPT_COLUMNS = ['Parameter Code', 'POC', 'Latitude', 'Longitude','Parameter Name',
                'Date Local', 'Units of Measure', 'Arithmetic Mean','1st Max Value',
                'AQI','State Name', 'County Name', 'City Name']

STATES_4 = ['California', 'Minnesota', 'New York', 'Texas']

POLLUTANTS = ['Ozone', 'Sulfur dioxide', 'Carbon monoxide', 'Nitrogen dioxide (NO2)' ]

In [3]:
merge_df = pd.DataFrame()
for year in [2022]:
    for pollutant_code in [44201, 42401, 42101, 42602]:
        url = f"https://aqs.epa.gov/aqsweb/airdata/daily_{pollutant_code}_{year}.zip"
        df = pd.read_csv(url, compression="zip")
        merge_df = pd.concat([merge_df, df], ignore_index=True)
        print(url, df.shape, merge_df.shape, list(df.columns) == list(columns_2022)) #, df.columns, sep="\n")

https://aqs.epa.gov/aqsweb/airdata/daily_44201_2022.zip (233601, 29) (233601, 29) True
https://aqs.epa.gov/aqsweb/airdata/daily_42401_2022.zip (178679, 29) (412280, 29) True
https://aqs.epa.gov/aqsweb/airdata/daily_42101_2022.zip (99645, 29) (511925, 29) True
https://aqs.epa.gov/aqsweb/airdata/daily_42602_2022.zip (92635, 29) (604560, 29) True

In [4]:
merge_df

,State Code,County Code,Site Num,Parameter Code,POC,Latitude,Longitude,Datum,Parameter Name,Sample Duration,...,AQI,Method Code,Method Name,Local Site Name,Address,State Name,County Name,City Name,CBSA Name,Date of Last Change
0,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,35.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2022-09-08
1,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,50.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2022-09-08
2,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,51.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2022-09-08
3,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,40.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2022-09-08
4,1,3,10,44201,1,30.497478,-87.880258,NAD83,Ozone,8-HR RUN AVG BEGIN HOUR,...,77.0,NaN,-,"FAIRHOPE, Alabama","FAIRHOPE HIGH SCHOOL, 1 PIRATE DRIVE, FAIRHOPE...",Alabama,Baldwin,Fairhope,"Daphne-Fairhope-Foley, AL",2022-09-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604555,72,25,7,42602,1,18.198712,-66.052237,NAD83,Nitrogen dioxide (NO2),1 HOUR,...,5.0,599.0,Instrumental - Chemiluminescence Teledyne API ...,NaN,Luis A. Ferre Highway,Puerto Rico,Caguas,Caguas,"San Juan-Carolina-Caguas, PR",2022-08-24
604556,72,25,7,42602,1,18.198712,-66.052237,NAD83,Nitrogen dioxide (NO2),1 HOUR,...,7.0,599.0,Instrumental - Chemiluminescence Teledyne API ...,NaN,Luis A. Ferre Highway,Puerto Rico,Caguas,Caguas,"San Juan-Carolina-Caguas, PR",2022-08-24
604557,72,25,7,42602,1,18.198712,-66.052237,NAD83,Nitrogen dioxide (NO2),1 HOUR,...,7.0,599.0,Instrumental - Chemiluminescence Teledyne API ...,NaN,Luis A. Ferre Highway,Puerto Rico,Caguas,Caguas,"San Juan-Carolina-Caguas, PR",2022-08-24
604558,72,25,7,42602,1,18.198712,-66.052237,NAD83,Nitrogen dioxide (NO2),1 HOUR,...,8.0,599.0,Instrumental - Chemiluminescence Teledyne API ...,NaN,Luis A. Ferre Highway,Puerto Rico,Caguas,Caguas,"San Juan-Carolina-Caguas, PR",2022-08-24
604559,72,25,7,42602,1,18.198712,-66.052237,NAD83,Nitrogen dioxide (NO2),1 HOUR,...,7.0,599.0,Instrumental - Chemiluminescence Teledyne API ...,NaN,Luis A. Ferre Highway,Puerto Rico,Caguas,Caguas,"San Juan-Carolina-Caguas, PR",2022-08-24

In [5]:
drop_col_df = merge_df.drop(DROP_COLUMNS, 1)
drop_col_df

/var/folders/_6/f9bzbfbs20b2h1sxf7j_krrw0000gn/T/ipykernel_85195/101284811.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  drop_col_df = merge_df.drop(DROP_COLUMNS, 1)

,Parameter Code,POC,Latitude,Longitude,Parameter Name,Date Local,Units of Measure,Arithmetic Mean,1st Max Value,AQI,State Name,County Name,City Name
0,44201,1,30.497478,-87.880258,Ozone,2022-02-28,Parts per million,0.038000,0.038,35.0,Alabama,Baldwin,Fairhope
1,44201,1,30.497478,-87.880258,Ozone,2022-03-01,Parts per million,0.037235,0.054,50.0,Alabama,Baldwin,Fairhope
2,44201,1,30.497478,-87.880258,Ozone,2022-03-02,Parts per million,0.038235,0.055,51.0,Alabama,Baldwin,Fairhope
3,44201,1,30.497478,-87.880258,Ozone,2022-03-03,Parts per million,0.024333,0.043,40.0,Alabama,Baldwin,Fairhope
4,44201,1,30.497478,-87.880258,Ozone,2022-03-04,Parts per million,0.049647,0.063,77.0,Alabama,Baldwin,Fairhope
...,...,...,...,...,...,...,...,...,...,...,...,...,...
604555,42602,1,18.198712,-66.052237,Nitrogen dioxide (NO2),2022-06-26,Parts per billion,3.358333,5.400,5.0,Puerto Rico,Caguas,Caguas
604556,42602,1,18.198712,-66.052237,Nitrogen dioxide (NO2),2022-06-27,Parts per billion,4.750000,7.400,7.0,Puerto Rico,Caguas,Caguas
604557,42602,1,18.198712,-66.052237,Nitrogen dioxide (NO2),2022-06-28,Parts per billion,4.150000,7.900,7.0,Puerto Rico,Caguas,Caguas
604558,42602,1,18.198712,-66.052237,Nitrogen dioxide (NO2),2022-06-29,Parts per billion,4.591667,8.200,8.0,Puerto Rico,Caguas,Caguas
604559,42602,1,18.198712,-66.052237,Nitrogen dioxide (NO2),2022-06-30,Parts per billion,4.612500,7.400,7.0,Puerto Rico,Caguas,Caguas

In [6]:
# guidance from https://stackoverflow.com/questions/12065885/filter-dataframe-rows-if-value-in-column-is-in-a-set-list-of-values 
drop_state_df = drop_col_df[drop_col_df['State Name'].isin(STATES_4)]
drop_state_df

,Parameter Code,POC,Latitude,Longitude,Parameter Name,Date Local,Units of Measure,Arithmetic Mean,1st Max Value,AQI,State Name,County Name,City Name
13728,44201,1,37.687526,-121.784217,Ozone,2022-01-01,Parts per million,0.013588,0.032,30.0,California,Alameda,Livermore
13729,44201,1,37.687526,-121.784217,Ozone,2022-01-02,Parts per million,0.008059,0.020,19.0,California,Alameda,Livermore
13730,44201,1,37.687526,-121.784217,Ozone,2022-01-03,Parts per million,0.029765,0.033,31.0,California,Alameda,Livermore
13731,44201,1,37.687526,-121.784217,Ozone,2022-01-04,Parts per million,0.025706,0.032,30.0,California,Alameda,Livermore
13732,44201,1,37.687526,-121.784217,Ozone,2022-01-05,Parts per million,0.022941,0.029,27.0,California,Alameda,Livermore
...,...,...,...,...,...,...,...,...,...,...,...,...,...
590403,42602,1,29.130700,-98.148100,Nitrogen dioxide (NO2),2022-07-27,Parts per billion,1.664706,4.500,4.0,Texas,Wilson,Floresville
590404,42602,1,29.130700,-98.148100,Nitrogen dioxide (NO2),2022-07-28,Parts per billion,1.400000,5.700,5.0,Texas,Wilson,Floresville
590405,42602,1,29.130700,-98.148100,Nitrogen dioxide (NO2),2022-07-29,Parts per billion,1.470833,4.800,4.0,Texas,Wilson,Floresville
590406,42602,1,29.130700,-98.148100,Nitrogen dioxide (NO2),2022-07-30,Parts per billion,2.108333,8.200,8.0,Texas,Wilson,Floresville
590407,42602,1,29.130700,-98.148100,Nitrogen dioxide (NO2),2022-07-31,Parts per billion,0.668182,5.500,5.0,Texas,Wilson,Floresville

In [7]:
drop_pollutants_df = drop_state_df[drop_state_df['Parameter Name'].isin(POLLUTANTS)]
drop_pollutants_df

,Parameter Code,POC,Latitude,Longitude,Parameter Name,Date Local,Units of Measure,Arithmetic Mean,1st Max Value,AQI,State Name,County Name,City Name
13728,44201,1,37.687526,-121.784217,Ozone,2022-01-01,Parts per million,0.013588,0.032,30.0,California,Alameda,Livermore
13729,44201,1,37.687526,-121.784217,Ozone,2022-01-02,Parts per million,0.008059,0.020,19.0,California,Alameda,Livermore
13730,44201,1,37.687526,-121.784217,Ozone,2022-01-03,Parts per million,0.029765,0.033,31.0,California,Alameda,Livermore
13731,44201,1,37.687526,-121.784217,Ozone,2022-01-04,Parts per million,0.025706,0.032,30.0,California,Alameda,Livermore
13732,44201,1,37.687526,-121.784217,Ozone,2022-01-05,Parts per million,0.022941,0.029,27.0,California,Alameda,Livermore
...,...,...,...,...,...,...,...,...,...,...,...,...,...
590403,42602,1,29.130700,-98.148100,Nitrogen dioxide (NO2),2022-07-27,Parts per billion,1.664706,4.500,4.0,Texas,Wilson,Floresville
590404,42602,1,29.130700,-98.148100,Nitrogen dioxide (NO2),2022-07-28,Parts per billion,1.400000,5.700,5.0,Texas,Wilson,Floresville
590405,42602,1,29.130700,-98.148100,Nitrogen dioxide (NO2),2022-07-29,Parts per billion,1.470833,4.800,4.0,Texas,Wilson,Floresville
590406,42602,1,29.130700,-98.148100,Nitrogen dioxide (NO2),2022-07-30,Parts per billion,2.108333,8.200,8.0,Texas,Wilson,Floresville
590407,42602,1,29.130700,-98.148100,Nitrogen dioxide (NO2),2022-07-31,Parts per billion,0.668182,5.500,5.0,Texas,Wilson,Floresville

In [8]:
drop_pollutants_renamed_df = drop_pollutants_df.rename(columns=
                                          {'Parameter Code': 'parameter_code', 
                                           'Latitude': 'lat', 
                                           'Longitude': 'lon',
                                           'Parameter Name': 'parameter_name',
                                           'Date Local': 'date_local', 
                                           'Units of Measure': 'units_of_measure', 
                                           'Arithmetic Mean': 'arithmetic_mean',
                                           '1st Max Value': 'first_max_value',
                                           'State Name': 'state_name', 
                                           'County Name': 'county_name', 
                                           'City Name': 'city_name'                          
                                           })

drop_pollutants_renamed_df

,parameter_code,POC,lat,lon,parameter_name,date_local,units_of_measure,arithmetic_mean,first_max_value,AQI,state_name,county_name,city_name
13728,44201,1,37.687526,-121.784217,Ozone,2022-01-01,Parts per million,0.013588,0.032,30.0,California,Alameda,Livermore
13729,44201,1,37.687526,-121.784217,Ozone,2022-01-02,Parts per million,0.008059,0.020,19.0,California,Alameda,Livermore
13730,44201,1,37.687526,-121.784217,Ozone,2022-01-03,Parts per million,0.029765,0.033,31.0,California,Alameda,Livermore
13731,44201,1,37.687526,-121.784217,Ozone,2022-01-04,Parts per million,0.025706,0.032,30.0,California,Alameda,Livermore
13732,44201,1,37.687526,-121.784217,Ozone,2022-01-05,Parts per million,0.022941,0.029,27.0,California,Alameda,Livermore
...,...,...,...,...,...,...,...,...,...,...,...,...,...
590403,42602,1,29.130700,-98.148100,Nitrogen dioxide (NO2),2022-07-27,Parts per billion,1.664706,4.500,4.0,Texas,Wilson,Floresville
590404,42602,1,29.130700,-98.148100,Nitrogen dioxide (NO2),2022-07-28,Parts per billion,1.400000,5.700,5.0,Texas,Wilson,Floresville
590405,42602,1,29.130700,-98.148100,Nitrogen dioxide (NO2),2022-07-29,Parts per billion,1.470833,4.800,4.0,Texas,Wilson,Floresville
590406,42602,1,29.130700,-98.148100,Nitrogen dioxide (NO2),2022-07-30,Parts per billion,2.108333,8.200,8.0,Texas,Wilson,Floresville
590407,42602,1,29.130700,-98.148100,Nitrogen dioxide (NO2),2022-07-31,Parts per billion,0.668182,5.500,5.0,Texas,Wilson,Floresville

In [9]:
drop_pollutants_renamed_df.to_csv('drop_pollutants2.csv')